
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  -webkit-overflow-scrolling: touch; // 1
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  width: 100%;
}

body {
  font: 400 1em/1 '-apple-system', BlinkMacSystemFont, sans-serif;
  background: radial-gradient(rgb(31, 33, 35), rgb(15, 17, 19));
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; // 2
}

/* ========================================================================== */

.app-box h1 {
  margin: 24px 0 0;
  font-size: 1.25em;
}

.app-box {
  margin: auto;
  text-align: center;
}

.app {
  display: flex;
}

/*  */

body {
  margin: auto;
  padding: 12px;
  font-family: sans-serif;
  color: white;
}

html, body, .app {
  height: 100%;
}

/*  */

.shake {
  animation: shake 0.25s linear infinite;
}

@keyframes shake {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
}
