
* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  -webkit-overflow-scrolling: touch; // 1
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  padding: 24px;
  color: white;
  font: 400 1em/1 '-apple-system', BlinkMacSystemFont, sans-serif;
  background: radial-gradient(rgb(31, 33, 35), rgb(15, 17, 19));
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; // 2
}

/* ========================================================================== */

._code {
  white-space: pre;
}

/* ========================================================================== */

.italic {
  font-style: italic;
}

.whitespace {
  white-space: pre;
}

/* ========================================================================== */

select {
  height: 48px;
  text-indent: 24px;
  background: rgb(31, 33, 35);
}

.placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.app-box h1 {
  font-size: 1.25em;
}

.app-box img {
  margin: 0 0 24px;
}

.app-box {
  margin: auto;
  text-align: center;
}

.app {
  height: 100%;
  display: flex;
  flex-flow: column;
  line-height: 1.25;
}

/*  */

.shake {
  animation: shake 0.25s linear infinite;
}

@keyframes shake {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
}

/* .glitch {
  animation: glitch 0.125s infinite;
}

@keyframes glitch {
  0%, 10%, 20%, 30%, 100% {
    transform: translate(0px, 0px);
  }

  15% {
    transform: translate(-100px, 200px);
  }

  25% {
    transform: translate(300px, -200px);
  }

  35% {
    transform: translate(-200px, -300px);
  }
} */
